@font-face {
  font-family: 'Comical';
  src: url("./fonts/LTComical.ttf");
}

@font-face {
  font-family: 'ShareDong';
  src: url("./fonts/ShareDong.ttf");
}

@font-face {
  font-family: 'Calendar';
  src: url("./fonts/Calendar.ttf");
}

:root {
  --type-fire: #ff7402;
	--type-grass: #9bcc50;
	--type-steel: #9eb7b8;
	--type-water: #4592c4;
	--type-psychic: #f366b9;
	--type-ground: #ab9842;
	--type-ice: #51c4e7;
	--type-flying: #3dc7ef;
	--type-ghost: #4d5b64;
	--type-normal: #a4acaf;
	--type-poison: #7e0058;
	--type-rock: #a38c21;
	--type-fighting: #d56723;
	--type-dark: #707070;
	--type-bug: #729f3f;
	--type-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--type-electric: #bba909;
	--type-fairy: #fdb9e9;
	--type-shadow: #7b62a3;
	--type-unknow: #757575;

  --color1: #102A62;
  --color2: #0472BD;
  --color3: #ffcd01;
  --color-black: #000000;
  --color-white: #fff;
  

}

body {
  font-family: "Comical";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
  user-select: none;
}

header div.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

header .logo img {
  width: 150px;
  margin-right: 20px;
  cursor: pointer;
}



/* bttn filter */
header div.icon-container {
	cursor: pointer;
  width: 30px;
  height: 30px;
}

header div.icon-container svg.icon {
	width: 30px;
	height: 30px;
	stroke: var(--color-black);
  border-radius: 5px;
}

header div.icon-container svg.icon:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
  border-left: none;
  transition: all .2s;
}

aside.aside-toggleMenu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 86px;
  left: 0px;
  background-color: rgba(255, 255, 255, .9);
  padding: 10px;
  width: 200px;
}

aside.menuActive {
  display: flex;
}

aside.aside-toggleMenu form.header-form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

aside.aside-toggleMenu div.form-group {
  display: flex;
  align-items: center;
}

aside.aside-toggleMenu div.form-group input {
  width: 120px;
  height: 43px;
  border: 1px solid var(--color-black);
  outline: none;
  font-size: 15px;
  padding-left: 5px;
  border-radius: 10px 0px 0px 10px;
}

aside.aside-toggleMenu div.form-group input:focus {
  border: 2px solid var(--color-black);
  transition: all .2s;
}

aside.aside-toggleMenu svg.icon-search {
  width: 20px;
  height: 20px;
  stroke: var(--color-white);
}

aside.aside-toggleMenu form.header-form button.btn-search {
  border: none;
  outline: none;
  background-color: var(--color-black);
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  color: var(--color-white);
  cursor: pointer;
}

aside.aside-toggleMenu form.header-form button.btn-search:hover {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
  border-left: none;
  transition: all .2s;
}

aside.menuActive div.container-filters {
  margin-top: 10px;
}

aside.menuActive div.container-filters div.filter-by-type {
  display: grid;
  grid-template-columns: repeat(2, 90px);
  margin: 10px 0px;
}

aside.menuActive div.container-filters div.filter-by-type div.group-type {
  margin-bottom: 5px;
}

aside.menuActive div.container-filters div.filter-by-type div.group-type label {
  margin-left: 5px;
}

section.section-home {
  width: 90%;
  margin: 20px auto;
}

div.pokemonsContainer {
  width: 100%;
	display: flex;
	flex-flow: wrap row;
  max-width: 1024px;
  margin: 0 auto;
}

div.pokemonsContainer a.card-pokemon {
  width: 50%;
  
}

article.pokemonCard {
  width: 50%;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 5px;
  max-width: 204.5px;
  user-select: none;
}

article.pokemonCard:hover {
  background-color: rgba(0, 0, 0, .125);
  transition: all 200ms;
}

article.pokemonCard div.infoNameType {
  display: flex;
  flex-direction: column;
  width: 100%;
}

article.pokemonCard div.containerTypes {
  margin-top: 10px;
  display: flex;
}

article.pokemonCard h1 {
  font-family: 'Calendar';
  margin-bottom: 10px;
  font-size: 40px;
}

article.pokemonCard h1, article.pokemonCard h2 {
  color: var(--color-black);
}

article.pokemonCard h2.pokemonInfo-name {
  font-family: 'ShareDong';
  text-transform: capitalize;
}

article.pokemonCard div.imgContainer img {
  width: 100%;
}

article.pokemonCard div.imgContainer img:hover {
  width: 110%;
  transition: all 200ms;
  overflow: hidden;
}



/* icons */

.type-wrapper {
  width: 800px;
  margin: auto auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  justify-content: flex-end;

}
.pokemonpage-type-icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.5rem;
  border-radius: 4px;
  color: white;
  cursor: default;
  transition: 200ms all;
  width: 100%;
  &:hover{
      filter: saturate(200%);
      transform: scale(1.1);
      cursor: pointer;
  }
  margin: 1rem;
}
.icon {
  display: flex;
  border-radius: 100%;
  height: 50px;
  width: 50px;
 
  transition: 200ms all;
}
.type-icon {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  
  margin: 0px 0px 10px 10px;

  transition: 200ms all;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}
.type-icon:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.type-icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}

@media (min-width: 425px) {
  header .logo img {
    width: 200px;
  }

  aside.aside-toggleMenu {
    top: 105px;
  }

}

@media (min-width: 768px) {
  header .logo img {
    width: 250px;
  }

  aside.aside-toggleMenu {
    top: 125px;
  }

}
